<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>error</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <style type="text/css">
            body {
                padding: 50px;
                background: #367c63;
                border-color: #03271d; 
            }
        </style>
    </head>
    <body>
        <h3>has not been found</h3>
        <a th:href="@{/}" href="list.html">Home</a>
    </body>
</html>